<div id="<%= dom_id account %>">
  <p>
    <strong>Accountname:</strong>
    <%= account.accountName %>
  </p>

  <p>
    <strong>Accountlinkedbank:</strong>
    <%= account.accountLinkedBank %>
  </p>

</div>
